<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_iBanners>
			<version>1.2.4.3</version>
		</Fishpig_iBanners>
	</modules>
	<global>
		<helpers>
			<ibanners>
				<class>Fishpig_iBanners_Helper</class>
			</ibanners>
		</helpers>
		<blocks>
			<ibanners>
				<class>Fishpig_iBanners_Block</class>
			</ibanners>
		</blocks>
		<models>
			<ibanners>
				<class>Fishpig_iBanners_Model</class>
				<resourceModel>ibanners_mysql4</resourceModel>
			</ibanners>
			<ibanners_mysql4>
				<class>Fishpig_iBanners_Model_Mysql4</class>
				<entities>
					<banner>
						<table>ibanners_banner</table>
					</banner>
					<group>
						<table>ibanners_group</table>
					</group>
				</entities>
			</ibanners_mysql4>
		</models>
		<resources>
			<ibanners_setup>
				<setup>
					<module>Fishpig_iBanners</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</ibanners_setup>
			<ibanners_read>
				<connection>
					<use>core_read</use>
				</connection>
			</ibanners_read>
			<ibanners_write>
				<connection>
					<use>core_write</use>
				</connection>
			</ibanners_write>
		</resources>
	</global>
	<frontend>
		<layout>
			<updates>
				<ibanners>
					<file>ibanners.xml</file>
				</ibanners>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<ibanners before="Mage_Adminhtml">Fishpig_iBanners_Adminhtml</ibanners>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<ibanners>
					<file>ibanners.xml</file>
				</ibanners>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<ibanners>
			<settings>
				<enabled>1</enabled>
			</settings>
		</ibanners>
	</default>
</config>